/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

$pe-grid-header: #B63A8B;
$pe-grid-over: #ce67aa;
$pe-bar-background: #1b2433;
$pe-barItem-init: #FFF;
$pe-barItem-over: #03C8FD; //#E17F72;
$pe-barItem-active: #00718F;//#E15240;
$pe-bar-over:#1D2838;
$pe-panel-header: #e85363d6;


$circle-border-radius: dynamic(50%);
$base-border-color: dynamic(#ddd);
$lightest-color: dynamic(#fff);
$font-weight: dynamic(400);
$font-weight-bold: dynamic(500);

$accordion-header-background-color: dynamic($lightest-color);
$accordion-header-color: dynamic(#333);

$blank-page-background-color: dynamic(#ebebeb);
$blank-page-color: dynamic(#cacaca);

$panel-header-focus-background-color : $pe-grid-header;

// Encabezado grillas agrupadas
.x-grid-group-hd {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #c2c2c2;
    padding: 7px 4px;
    background: #6e65af;
    cursor: pointer;
}

.x-form-text-default .x-tagfield-item {
    border-radius: 3px;
    background-color: #00BCD4;
    border: 1px solid #03A9F4;
    padding: 0 19px 0 5px;
    margin: 0 4px 2px 0;
    color: #fff;
    line-height: 19px;
}

.x-column-header-over {
    background-image: none;
    background-color: $pe-grid-over;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  };