.formulario-venta .recetas-dataview {
    padding: 10px 5px 10px;
}
.formulario-venta .statement-type {
    width: 100%;
    float: left;
    color: #878ea2;
    font-weight: bold;
    font-size: 14px;
    margin: 20px 5px 0;
}
.formulario-venta .thumb-title-container {
    float: left;
    padding-top: 4px;
}
.formulario-venta .thumb-title {
    color: #3e4752;
    font-weight: 800;
}
.formulario-venta .thumb-title-small {
    color: #878ea2;
    font-size: 12px;
    font-weight: 500;
}
.formulario-venta .thumb-icon {
    background-image: url(../../../build/resources/icons/reporte.png);
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
}
.x-ie8 .formulario-venta .thumb-icon {
    background-image: url(../../../build/resources/icons/reporte-small.png);
}
.formulario-venta .thumb-download {
    height: 40px;
    width: 40px;
    background-image: url(../../../build/resources/icons/download-small.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 50%;
    opacity: 0.5;
    float: right;
}
.formulario-venta .thumb {
    display: table-cell;
    background-color: #f2f2f2;
    padding: 16px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}
.formulario-venta .thumb:hover .thumb-download {
    opacity: 1;
}
.formulario-venta .thumb-wrap {
    display: table;
    float: left;
    width: 50%;
    padding: 5px;
}
@media screen and (max-width: 980px) and (orientation: landscape),
screen and (max-width: 760px) and (orientation: portrait) {
    .formulario-venta .thumb-wrap {
        float: none;
        width: 100%;
        padding: 5px 0;
    }
}